[submodule "Aboria"]
	path = Aboria
	url = https://github.com/aboria/Aboria.git
[submodule "tinyply"]
	path = tinyply
	url = https://github.com/ddiakopoulos/tinyply.git
[submodule "yaml-cpp"]
	path = yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
